<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<h1>Employees registered</h1>
<table>
    <tr  th:each="employee : ${employeeList }">
        <td th:text="${employee.id}">ID</td>
        <td th:text="${employee.name}">Name</td>
        <td th:text="${employee.email}">Email</td>
        <td th:text="${employee.contact}">Contact</td>

    </tr>
</table>
<button><a th:href="@{'/new'}">Add New Employee</a></button>
</body>
</html>